@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: Roboto, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue';
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url('../images/demo.jpg');
  background-size: cover;
  background-position: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0px auto;
  padding: 0 20px;
  min-width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.page-header {
  background-color: #182025;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 60px;
  height: 230px;
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 216px;
  }
}
.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.page-header__heading {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
}
@media screen and (max-width: 479.98px) {
  .page-header__heading {
    display: none;
  }
}

.box {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: baseline;
  gap: 40px;
  list-style-type: none;
}
.nav__item {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.nav__item--show {
  position: relative;
}
.nav__item--show::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ff001b;
  bottom: -3px;
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.search-form {
  width: 280px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  line-height: 1.14;
  position: relative;
}
@media screen and (min-width: 768px) {
  .search-form {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    width: 394px;
  }
}
.search-form__input {
  width: 100%;
  color: #fff;
  flex-grow: 1;
  outline: transparent;
  border: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #fff;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 4px;
}
.search-form__input::-moz-placeholder {
  color: #ffffff;
}
.search-form__input::placeholder {
  color: #ffffff;
}
.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 0;
  padding-bottom: 0px;
}

.search-form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .search-form__container {
    margin-bottom: 20px;
  }
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff001b;
  font-size: 14px;
}

.movie-gallery {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .movie-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-gallery {
    gap: 16px;
  }
}
.movie-gallery__container {
  margin-bottom: 60px;
}

.movie-card {
  margin-bottom: 20px;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .movie-card {
    width: calc((100% - 32px) / 2);
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card {
    width: calc((100% - 32px) / 3);
  }
}
.movie-card__img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .movie-card__img {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__img {
    margin-bottom: 12px;
  }
}
.movie-card__heading,
.movie-card__caption {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
}
@media screen and (min-width: 1280px) {
  .movie-card__heading,
  .movie-card__caption {
    font-size: 20px;
    line-height: 1.33;
  }
}
.movie-card__heading {
  text-transform: uppercase;
}
.movie-card__caption {
  color: #ff6b08;
}

.is-hidden {
  visibility: hidden;
  opacity: 1;
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.modal-movie {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: visible;
}
@media screen and (min-width: 768px) {
  .modal-movie {
    max-width: 704px;
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie {
    max-width: 806px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie {
    padding: 40px 12px;
  }
}
.modal-movie__poster-box {
  display: flex;
  justify-content: center;
}
.modal-movie__poster {
  max-height: 357px;
  -o-object-fit: contain;
  object-fit: contain;
  padding-top: 48px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .modal-movie__poster {
    max-height: 373px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__poster {
    max-height: 478px;
    width: 375px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.modal-movie__btn-close {
  font-size: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  position: absolute;
  top: 8px;
  right: 16px;
}
.modal-movie__info {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .modal-movie__info {
    padding-top: 0px;
    padding-left: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__info {
    padding-left: 16px;
  }
}
.modal-movie__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .modal-movie__title {
    font-size: 30px;
  }
}
.modal-movie__list {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #000;
  text-transform: capitalize;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 90px 2fr;
  gap: 8px;
}
.modal-movie__item--label {
  color: #8c8c8c;
}
.modal-movie__list > li > span:first-child {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 1px 8px;
}
.modal-movie__list > li > span {
  color: #8c8c8c;
}
.modal-movie__list > li > span:last-child {
  color: #000;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1px 4px;
}
.modal-movie__description {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .modal-movie__description {
    max-width: 260px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__description {
    max-width: 391px;
  }
}
.modal-movie__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #000;
  text-transform: uppercase;
}
.modal-movie__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  color: #000;
  padding-top: 8px;
}
.modal-movie__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .modal-movie__btns {
    gap: 10px;
  }
}
.modal-movie__box {
  display: flex;
  gap: 10px;
  width: 100%;
}
.modal-movie__btn-watched,
.modal-movie__btn-queue {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #000000;
  border: 1px solid #000;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  text-transform: uppercase;
  min-height: 44px;
  padding: 0 5px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-movie__btn-watched:hover,
.modal-movie__btn-queue:hover {
  background-color: #ff6b01;
  border: none;
}
@media screen and (min-width: 768px) {
  .modal-movie__btn-watched,
  .modal-movie__btn-queue {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__btn-watched,
  .modal-movie__btn-queue {
    width: 136px;
  }
}
.modal-movie__btn-watched,
.modal-movie__btn-queue {
  flex-basis: 50%;
  width: calc(50% - 5px);
}
@media screen and (min-width: 768px) {
  .modal-movie__btn-watched,
  .modal-movie__btn-queue {
    width: calc(50% - 5px);
  }
}
@media screen and (min-width: 1280px) {
  .modal-movie__btn-watched,
  .modal-movie__btn-queue {
    width: calc(50% - 5px);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.pagination ul {
  display: flex;
  background: #fff;
  gap: 16px;
}

.pagination ul li {
  display: flex;
  color: #000000;
  list-style: none;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px 5px 5px 5px;
}

.pagination ul li.dots {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: default;
}

.pagination ul li.btn {
  background: #f7f7f7;
  padding: 12px 12px;
}

.pagination ul li.numb:hover,
.pagination ul li.active,
.pagination ul li.btn:hover {
  color: #fff;
  background: #ff6b08;
}

.arrow__left--icon {
  height: 20px;
  width: 20px;
  fill: #000000;
}

.arrow__right--icon {
  height: 20px;
  width: 20px;
  fill: #000000;
}

.footer {
  background-color: #f7f7f7;
  height: 100px;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 29px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.footer__text {
  color: #545454;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 16px;
    line-height: 1.1875;
    margin-right: 7px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer__authors {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #545454;
  line-height: 1.1428571429;
  cursor: pointer;
}
.footer__authors:hover,
.footer__authors:focus {
  color: #ff6b08;
}
@media screen and (min-width: 768px) {
  .footer__authors {
    font-size: 16px;
    line-height: 1.1875;
    padding: 0;
  }
}
.footer__sub {
  display: flex;
  color: #545454;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1428571429;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__sub {
    font-size: 16px;
    line-height: 1.1875;
  }
}
.footer__icon {
  fill: #ff6b08;
  margin-right: 10px;
  margin-left: 10px;
  animation: Scale 0.7s ease infinite alternate;
}
@keyframes Scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  gap: 20px;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .btn-container {
    gap: 32px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-container {
    gap: 16px;
  }
}

.library-gallery {
  display: flex;
  justify-content: center;
}

.btn-watched,
.btn-queue {
  color: #fff;
  background: transparent;
  width: 130px;
  height: 44px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  padding-top: 14px;
  padding-bottom: 12px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .btn-watched,
  .btn-queue {
    width: 152px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-watched,
  .btn-queue {
    width: 147px;
    height: 42px;
  }
}
.btn-watched:hover,
.btn-queue:hover {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
} /*# sourceMappingURL=main.css.map */
