.container {
  margin: 0px auto;
  padding: 0 20px;
  min-width: 320px;

  @include mq(mobile) {
  }

  @include mq(tablet) {
    padding: 0 32px;
  }

  @include mq(desktop) {
    max-width: 1280px;
  }
}
