$whiteColor: #fff;
$blackColor: #000;
$redColor: #ff001b;
$primaryColor: #ff6b08;
$secondColor: #ff6b01;
$headerColor: #182025;
$modalTextColor: #8c8c8c;
$modalButtonCollor: #ff6b01;
$modalTextBackgroundColor: #f7f7f7;
$footerBgColor: #f7f7f7;
$footerTextColor: #545454;
$backdropColor: rgba(0, 0, 0, 0.6);

$shift: 250ms ease;
$shiftInputMobile: 1000ms ease;
$shiftInputDesktop: 500ms ease;
