<!-- /////////////////////backdrop firebase'a///////////////////// -->
<div class="firebase__modal"></div>

<div  id="login-modal">
    <div class="login-form__modal firebase__content--login" id="login-content">
    <button type="button" class="login-form__btn-close" id="login-close">  <svg
        class="modal__icon__close"
        width="30"
        height="30"
        viewbox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M8 8L22 22" stroke="black" stroke-width="2" />
        <path d="M8 22L22 8" stroke="black" stroke-width="2" />
      </svg></button>

    <h1 class="login-form__title">Login</h1>
    <form id="login-form">
      <div>
        <input
          class="login-form__input"
          type="text"
          name="email"
          placeholder="Email"
          id="login-email"
        />
      </div>
      <div>
        <input
          class="login-form__input"
          type="password"
          name="password"
          placeholder="Password"
          id="login-password"
        />
      </div>
      <button class="login-form__button-submit" id="" type="submit">Sign In</button>
      <div class="member">Not A Memeber?<a id="signup__anchor" href="#">Signup Here!</a></div>
    </form>
  </div>
</div>


<!-- /////////////////////modal rejestracji///////////////////// -->
<div  id="signup-modal">
  <div class="signup-form__modal">
    <button class="login-form__btn-close" id="signup-close">  <svg
        class="modal__icon__close"
        width="30"
        height="30"
        viewbox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M8 8L22 22" stroke="black" stroke-width="2" />
        <path d="M8 22L22 8" stroke="black" stroke-width="2" />
      </svg></button>

    <div class="sign-up__modal firebase__content--signup">
      <h1 class="login-form__title" login-form__title>Sign Up</h1>
      <form  class="sign-up__form" id="form-signup">
        <input 
        class="login-form__input"
        type="text" name="" placeholder="Full Name" id="fullname" />

        <input class="login-form__input" type="email" name="" placeholder="Email" id="email" />

        <input class="login-form__input" type="password" name="" placeholder="Password" id="password" />

        <div>
          <input class="login-form__input" type="password" name="" placeholder="Confirm Password" id="copassword" />

          
          <div class="member">
            <div><button type="submit" id="signup" value="Sign Up" class="signup-form__btutton-submit">Sign Up</button></div>
            Already A Memeber?<a class="login__anchor" href="#">Login Here!</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- /////////////////////powitanie i przycisk wylogowania///////////////////// -->

<div  id="user-modal">
  <div class="user__modal">
    <button class="login-form__btn-close" id="user-close">  <svg
        class="modal__icon__close"
        width="30"
        height="30"
        viewbox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M8 8L22 22" stroke="black" stroke-width="2" />
        <path d="M8 22L22 8" stroke="black" stroke-width="2" />
      </svg></button>

    <div class="user__modalfirebase__content--logout">
      <h1 class="login-form__title">Hello, <span id="user"> </span> <span class="text">You are logged in !</span></h1>
      <button type="button" value="logout" class="user-logout__btn" 
       
      id="logout-btn__modal">
        logout
      </button>
    </div>
    <div class="main">
    </div>
  </div>
</div>


