<header class="page-header">
  <div class="container page-header__container">
    <div class="box">
      <a class="logo--link" href="./index.html">
        <svg class="logo" width="24" height="24">
          <use href="./images/icons/icons.svg#icon-film"></use>
        </svg>
      </a>
      <a class="page-header__link" href="./index.html"
        ><h1 class="page-header__heading">Filmoteka</h1></a
      >
    </div>
    <nav>
      <ul class="nav">
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--active">Home</a>
        </li>
        <li class="nav__item">
          <a href="./library.html" class="nav__link">My library</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="search-form__container">
    <form class="search-form" id="search-form">
      <input
        class="search-form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="search-form__button" type="submit">
        <svg class="search-form__icon" width="12" height="12">
          <use href="./images/icons/icons.svg#icon-search-2"></use>
        </svg>
      </button>
    </form>
  </div>
  <div class="error-message"></div>
</header>
