<div class="container">
  <div class="pagination">
    <ul class="pagination-ul">
      <li class="btn arrow__left">
        <svg class="arrow__left--icon">
          <use href="./images/icons/icons.svg#icon-arrow-left"></use>
        </svg>
      </li>
      <li class="numb first">1</li>
      <li class="numb active">1</li>
      <li class="numb plus-1">2</li>
      <li class="numb last">500</li>

      <li class="btn arrow__right">
        <svg class="arrow__right--icon">
          <use href="./images/icons/icons.svg#icon-arrow-left"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>

<!-- <li class="numb first"><span>{firstPage}</span></li>
<li class="dots dots-1"><span>...</span></li>
<li class="numb minus-2"><span>13</span></li>
<li class="numb minus-1"><span>14</span></li>
<li class="numb active"><span>15</span></li>
<li class="numb plus-1"><span>16</span></li>
<li class="numb plus-2"><span>17</span></li>
<li class="dots dots-2"><span>...</span></li>
<li class="numb last"><span>{lastPage}</span></li> -->
