<div class="container">
  <div class="pagination">
    <ul>
      <li class="btn arrow__left">
        <svg class="arrow__left--icon">
          <use href="./images/icons/icons.svg#"></use>
        </svg>
      </li>
      <li class="numb">
        <span>1</span>
      </li>
      <li class="dots"><span>...</span></li>
      <li class="numb"><span>13</span></li>
      <li class="numb"><span>14</span></li>
      <li class="numb active"><span>15</span></li>
      <li class="numb"><span>16</span></li>
      <li class="numb"><span>17</span></li>
      <li class="dots"><span>...</span></li>
      <li class="numb"><span>20</span></li>
      <li class="btn arrow__right">
        <svg class="arrow__right--icon">
          <use href="./images/icons/icons.svg#"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
