<div class="container">
  <div class="pagination">
    <ul class="pagination-ul">
      <li class="btn arrow__left">
        <svg class="arrow__left--icon">
          <use href="./images/icons/icons.svg#icon-arrow-left"></use>
        </svg>
      </li>
      <li class="numb first">1</li>
      <li class="dots">...</li>
      <li class="numb minus-2"></li>
      <li class="numb minus-1"></li>
      <li class="numb active"></li>
      <li class="numb plus-1"></li>
      <li class="numb plus-2"></li>
      <li class="dots__last">...</li>
      <li class="numb last">500</li>
      <li class="btn arrow__right">
        <svg class="arrow__right--icon">
          <use href="./images/icons/icons.svg#icon-arrow-left"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
