// logout button
.nav__content {
  position: relative;
}

.nav__button--logout {
  position: absolute;
  bottom: -25px;
  left: 43px;
  @include text(500, 12px, 1.3, $blackColor);
  border: 1px solid $whiteColor;
  outline: none;
  cursor: pointer;
  color: $whiteColor;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-transform: uppercase;
  min-height: 20px;
  padding: 0 5px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover {
    background-color: $modalButtonCollor;
    color: $whiteColor;
    border: none;
  }

  @include mq(tablet) {
    width: 125px;
    bottom: -25px;
    left: 30px;
    // right: 50%;
  }
  @include mq(desktop) {
    width: 136px;
  }
}

// user-modal button



.user-logout__btn,
.login-form__button-submit,
.signup-form__btutton-submit {
 

  @include text(500, 12px, 1.3, $blackColor);
  border: 1px solid $whiteColor;
  outline: none;
  cursor: pointer;
  color: $whiteColor;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-transform: uppercase;
  min-height: 44px;
  padding: 0 5px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 110px;

  &:hover {
    background-color: $modalButtonCollor;
    color: $whiteColor;
    border: none;
  }

  @include mq(tablet) {
    width: 125px;
  }
  @include mq(desktop) {
    width: 136px;
  }
}

// modal firebase

.firebase__modal {
  z-index: 150;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // z-index: 1;
  background-color: $secondColor;
  opacity: 1;
  // overflow: auto;
}



.login-form__modal,
.signup-form__modal,
.user__modal {
  width: 300px;

  padding: 20px 15px;
  text-align: center;
  max-width: 350px;
  // height: 80vh;
  background-color: $modalTextColor;
  margin: 20 auto;
  opacity: 1;
  z-index: 200;
  //     width: 250px;
  //     height: 300px;
  //     margin: 20% auto;
  // z-index: 15;
  // display: flex;
  // align-items: center;
  position: relative;
  border-radius: 15px;
  box-shadow: -1px 1px 33px 8px $whiteColor;
    @include mq(tablet) {
    margin: 100px auto;
  } 
  @include mq(desktop) {
    margin: 150px auto;
  }
}

// // .login-form {
// //   // flex-direction: column;
// // }

.login-form__title {
  margin-top: 20px;
  margin-bottom: 20px;

}
.login-form__btn-close {
  font-size: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
}

.login-form__input {
  width: 100%;
  color: $whiteColor;
  flex-grow: 1;
  outline: transparent;
  border: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $whiteColor;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  margin-bottom: 10px;

  &::placeholder {
    color: #ffffff;
  }
}

.login__anchor, #signup__anchor {
// margin-left: 10px;
   cursor: pointer;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 3px;
    display: block;
    color: $footerTextColor;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
     font-size: 16px;
     text-decoration: none;
  text-shadow: 5px 6px 4px $footerTextColor;
  font-weight: 500;
  line-height: 1.30;

    &:hover,
    &:focus {
      color: $secondColor;
    }
}
