.page-footer {
  background-color: $footerBgColor;

  &__container {
    padding: 30px 0;
    @include flex-center;
    flex-direction: column;
    gap: 10px;

    @include mq(tablet) {
      flex-direction: row;
      gap: 0;
    }
  }
}

.footer {
  &__icon {
    fill: $primaryColor;
    margin-right: 10px;
    margin-left: 10px;
    animation: Scale 0.7s ease infinite alternate;
    @keyframes Scale {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.5);
      }
    }
  }

  &__text {
    color: $footerTextColor;
    display: flex;
    align-items: center;
  }

  @include mq(tablet) {
    &__text:first-child {
      margin-right: 3px;
    }
  }

  &__team {
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 3px;
    display: block;
    color: $footerTextColor;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $primaryColor;
    }
  }
}
