.btn-container {
  @include flex-center;
  gap: 16px;
  gap: 20px;
  margin-bottom: 62px;
  @include mq(tablet) {
    gap: 32px;
    margin-bottom: 60px;
  }
  @include mq(desktop) {
    gap: 16px;
  }
}
.page-header-library {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 0%, rgba(0, 0, 0, 0.56) 100%), url("../images/background/header_library/mobile.png");
  background-size: cover;
  background-position: center;
  @include mq(tablet) {
      background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4) 0%, rgba(0, 0, 0, 0.56) 100%), url("../images/background/header_library/tablet.png");
    }
  @include mq(desktop) {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4) 0%, rgba(0, 0, 0, 0.56) 100%), url("../images/background/header_library/desktop.png");
  }  
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .page-header-library {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 0%, rgba(0, 0, 0, 0.56) 100%), url("../images/background/header_library/mobile_x2.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header-library {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4) 0%, rgba(0, 0, 0, 0.56) 100%), url("../images/background/header_library/tablet_x2.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1280px) and (min-resolution: 192dpi),
screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .page-header-library {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4) 0%, rgba(0, 0, 0, 0.56) 100%), url("../images/background/header_library/desktop_x2.png");
  }
}


.opened{
  background-color: #ff6b01;
  border: none;
}