.page-header {
  background-color: $headerColor;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 60px;
  height: 230px;

  @include mq(tablet) {
    height: 216px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__heading {
    color: $whiteColor;
    font-weight: 500;
    font-size: 30px;

    @include mq(mobile, max) {
      display: none;
    }
  }
}

.box {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: baseline;
  gap: 40px;
  list-style-type: none;

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $whiteColor;
    font-size: 12px;
    font-weight: 500;
  }
}
