.movie-card {
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  &__box {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    max-height: 402px;

    @include mq(tablet) {
      max-height: 455px;
    }

    @include mq(desktop) {
      max-height: 574px;
    }
  }

  @include mq(tablet) {
    width: calc((100% - 32px) / 2);
    margin-bottom: 0px;
  }

  @include mq(desktop) {
    width: calc((100% - 2 * 16px) / 3);
  }

  &__img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    flex: 1;
    transition: transform 0.4s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    @include mq(tablet) {
      margin-bottom: 8px;
    }

    @include mq(desktop) {
      margin-bottom: 12px;
    }
  }

  &__heading,
  &__caption {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;

    @include mq(desktop) {
      font-size: 20px;
      line-height: 1.33;
    }
  }

  &__heading {
    text-transform: uppercase;
  }

  &__caption {
    color: $primaryColor;
  }
}
