.movie-gallery {
  margin-bottom: 60px;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include mq(desktop) {
    gap: 16px;
  }

  &__container {
    margin-bottom: 60px;
  }
}
