.pagination {
  margin: 0 auto;
  margin-bottom: 60px;
  @include mq(tablet) {
    display: flex;
    justify-content: center;
  }
}

.pagination ul {
  display: flex;
  background: #fff;
  justify-content: space-between;
  @include mq(tablet) {
    gap: 16px;
  }
}

.pagination ul li {
  display: flex;
  color: #000000;
  list-style: none;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px 5px 5px 5px;
}

ul li.dots,
ul li.dots__last {
  display: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  cursor: default;
  @include mq(tablet) {
    display: flex;
  }
}

ul li.first,
ul li.last {
  display: none;
  @include mq(tablet) {
    display: flex;
  }
}

.pagination ul li.btn {
  background: #f7f7f7;
  padding: 12px 12px;
}

.pagination ul li.active {
  color: #fff;
  background: #ff6b08;
}

.pagination ul li.btn:hover .pagination ul li.numb:hover {
  @include mq(tablet) {
    color: #fff;
    background: #ff6b08;
  }
}

.arrow__left--icon {
  height: 20px;
  width: 20px;
  fill: #000000;
}

.arrow__right--icon {
  height: 20px;
  width: 20px;
  fill: #000000;
  rotate: 180deg;
}

.pagination li.hidden {
  display: none;
}
