.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $backdropColor;
  padding: 20px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity $shift, visibility $shift;
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal {
  overflow-y: hidden;
}

.modal__btn-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 50;
  display: flex;
  align-items: center;
}

.modal {
  position: absolute;
  opacity: 1;
  visibility: visible;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $whiteColor;
  text-align: left;
  width: 90%;
  max-height: 95%;
  overflow-y: auto;

  @include mq(tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 704px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include mq(desktop) {
    transform: translate(-50%, -50%);
    width: 806px;
  }
}

.modal__heading {
  text-align: center;
  margin-bottom: 10px;
  color: $primaryColor;
}

.team__wrap {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team {
  width: 80px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include mq(tablet) {
    width: 100px;
  }

  @include mq(desktop) {
    width: 120px;
  }

  &__foto {
    object-fit: cover;
    height: 80px;
    display: block;

    @include mq(tablet) {
      height: 100px;
    }
    @include mq(desktop) {
      height: 120px;
    }
  }

  &__about {
    padding: 5px;
    text-align: center;
    background-color: $footerBgColor;
  }

  &__text--big {
    color: $footerTextColor;
    font-weight: 500;
    font-size: 9px;
    line-height: 1;
  }

  &__text--small {
    color: $primaryColor;
    font-weight: 700;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 5px;
  }

  &__socials {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__socials--link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0 3px;
  }

  &__socials--icon {
    fill: $footerTextColor;
    width: 11px;
    height: 11px;
    transition: fill $shift;

    &:hover {
      fill: $primaryColor;
    }
  }
}
